<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragment/main_layout}" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table-striped table-hover text-center align-middle justify-content-center">
                        <colgroup>
                            <col width="5%">
                            <col width="5%">
                            <col width="35%">
                            <col width="10%">
                            <col width="35%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <td>No</td>
                                <td><input type="checkbox" id="allCheckbox" class="form-check-input" checked onclick="setCheck()"></td>
                                <td>상품</td>
                                <td>가격</td>
                                <td>수량</td>
                                <td>총 가격</td>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${#lists.size(cartList) == 0}">
                                <tr><td colspan="6">장바구니에 담긴 상품이 없습니다.</td></tr>
                            </th:block>

                            <th:block th:if="${#lists.size(cartList) != 0}">
                                <tr th:each="cart, state : ${cartList}">
                                    <td>[[${#lists.size(cartList) - state.index}]]</td>
                                    <td><input type="checkbox" th:data-total-price="${cart.itemVO.itemPrice * cart.cartCnt}" class="chk form-check-input" checked onclick="setTotalPrice()"></td>
                                    <td class="text-start">
                                        <img width="80px;" th:src="${'/images/' + cart.itemVO.imgList[0].attachedFileName}" alt="">
                                        [[${cart.itemVO.itemName}]]</td>
                                    <td>[[${#numbers.formatCurrency(cart.itemVO.itemPrice)}]]</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-8">
                                                <input type="number" class="form-control" th:value="${cart.cartCnt}">
                                            </div>
                                            <div class="col-4 d-grid">
                                                <input type="button" class="btn btn-success" value="변경">
                                            </div>
                                        </div>
                                    </td>
                                    <td>[[${#numbers.formatCurrency(cart.itemVO.itemPrice * cart.cartCnt)}]]</td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    총 가격 <span id="total-price"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="button" class="btn btn-primary" value="선택 삭제">
                    <input type="button" class="btn btn-primary" value="선택 구입">
                </div>
            </div>
        </div>
        <script src="/js/cart/cart_list.js"></script>
    </th:block>
</body>
</html>