<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block th:fragment="adminSideFragment">
        <div class="row mt-3">
            <div class="col">
                <div id="accordionPanelsStayOpenExample" class="accordion list-group" th:each="menu, state : ${menuList}">  
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed list-group-item list-group-item-action active" type="button" data-bs-toggle="collapse"
                                th:data-bs-target="${'#my-panel-' + state.index}" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo"  >
                            [[${menu.menuName}]]
                        </button>
                      </h2>
                      <div th:id="${'my-panel-' + state.index}" class="accordion-collapse collapse">
                        <div class="accordion-body" th:each="subMenu : ${menu.subMenuList}">
                            <a th:href="@{${subMenu.subMenuUrl}(menuCode=${menu.menuCode}, subMenuCode=${subMenu.subMenuCode})}">[[${subMenu.subMenuName}]] / [[${subMenu.subMenuCode}]]</a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>