<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block th:fragment="adminSideFragment">
        <div class="row mt-3">
            <div class="col">
                <div class="list-group" th:each="menu : ${menuList}">  
                    <a th:href="${menu.menuUrl}" class="list-group-item list-group-item-action active" aria-current="true">[[${menu.menuName}]]</a>
                  </div>
            </div>
        </div>
    </th:block>
</body>
</html>