<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block th:fragment="adminSideFragment">
        <div class="row mt-3">
            <div class="col">
                <div class="list-group">
                    <a href="/admin/regItemForm" class="list-group-item list-group-item-action active" aria-current="true">상품 등록</a>
                    <a href="/admin/itemManage" class="list-group-item list-group-item-action">상품 관리</a>
                    <a href="#" class="list-group-item list-group-item-action">카테고리 관리</a>
                  </div>
            </div>
        </div>
    </th:block>
</body>
</html>