@charset "UTF-8";

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #E5E0D8;
}
a{
    color: #212529;
    text-decoration: none;
}
.container{
    font-family: 'GowunBatang-Regular';
}
.font-bold{
    font-weight: bold;
}
.main-title a{
    text-decoration: none;
    color: #4E4F3D;
    font-weight: bold;
}
.error-div{
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: -1px;
}

.list-group-item.active{
    background-color: #809671;
    border-color: #809671;
}


/* 테이블 */
.table-list-head{
    font-weight: bold;
}

.table-list > thead td{
    background-color: #725C3A;
    border-color: #725C3A;
    color: #fff;
}

.search_stock_style{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 20px;
}





/* 버튼 */
.btn-primary{
    background-color: #725C3A;
    border-color:#725C3A;
    color: #fff;
}

.btn:hover{
    background-color: #D2AB80;
    border-color:#D2AB80;
    color: #fff;
}


.btn-secondary{
    background-color: #D2AB80;
    border-color:#D2AB80;
    width: 60px;
    color: #fff;
}

.btn-secondary:hover{
    background-color: #725C3A;
    border-color:#E5D2B8;
    color: #fff;
}


/* 메인페이지 */
.card-body{
    background-color: #B3B792;
    text-align: center;
    padding: 10px;
}

.card-title{
    font-weight: bold;
    margin-bottom: 0;
}

