@charset "UTF-8";

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{
    font-family: 'GowunBatang-Regular';
}

.error-div{
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: -1px;
}