@charset "UTF-8";

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{
    font-family: 'GowunBatang-Regular';
}

.error-div{
    display: none;
    color: red;
    font-size: 0.8rem;
    margin-top: -1px;
}

.list-group-item.active{
    background-color: #418566;
    border-color: #418566;
}

.table-list-head{
    font-weight: bold;
}

.btn:hover{
    background-color: #418566;
    border-color: #418566;
}

.btn-primary{
    background-color: #d1e7dd;
    border-color: #d1e7dd;
    color: #333;
}

.table-list > thead td{
    background-color: #418566;
    border-color: #418566;
    color: #fff;
}

.search_stock_style{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 20px;
}