@charset "UTF-8";
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.main-title{
    font-family: 'Ansungtangmyun-Bold';
}

.cursor-span{
    cursor: pointer;
}

.bg-body-tertiary{
    background-color: #d1e7dd;
}

.navbar {
    background-color: #809671 !important;
    border-color: #809671 !important;
    border-radius: 15px !important;

}

a.navbar-brand{
    color: #E5E0D8;
}

a.nav-link{
    color: #E5E0D8;
}

.main-nav li{
    margin-right: 10px;
}
