@charset "UTF-8";

.cursor-span{
    cursor: pointer;
}

.bg-body-tertiary{
    background-color: #d1e7dd;
}

.navbar {
    background-color: #809671 !important;
    border-color: #809671 !important;
    border-radius: 15px !important;

}

a.navbar-brand{
    color: #E5E0D8;
}

a.nav-link{
    color: #E5E0D8;
}

.main-nav li{
    margin-right: 10px;
}

#util span{
    margin-left: 6px;
}