<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <div class="row row-cols5 g-4">
            <div class="col" th:each="displayItem : ${displayItemList}">
                <div class="card" style="width: 18rem;">
                    <img th:src="'/images/' + ${displayItem.itemCode} + '.jpg'" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">[[${displayItem.itemName}]]</h5>
                        <p class="card-text">[[${displayItem.itemIntro}]]</p>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>