<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/fragment/main_layout}">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <th:block layout:fragment="content">
        <style>
            .row {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-end;
            }
        </style>
        <h1>[[${intercepterData}]]</h1>
        <div class="itemList row row-cols-6">
            <div class="col mb-3" th:each="item, state: ${itemList}">
                <div class="card">
                    <a th:href="@{/item/detail(itemCode=${item.itemCode})}">
                        <img th:src="${'/images/' + item.imgList[0].attachedFileName}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">[[${item.itemName}]]</h5>
                        <p class="card-text">[[${item.itemIntro}]]</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mb-3 mt-5">
            <div class="col">
                <a th:href="@{/item/main(nowPage=${itemVO.beginPage-1})}"><span th:if="${itemVO.prev}">&lt;</span></a>
                <th:block th:each="pageNum : ${#numbers.sequence(itemVO.beginPage, itemVO.endPage)}">
                    <a th:href="@{/item/main(nowPage=${pageNum})}"><span th:text="${pageNum}"></span></a>
                </th:block>
                <a th:href="@{/item/main(nowPage=${itemVO.endPage+1})}"><span th:if="${itemVO.next}">&gt;</span></a>
            </div>
        </div>
    </th:block>
</body>
</html>